<ion-row class="ion-align-items-center ion-justify-content-center">

    <ion-col size="1.6">
        <strong>
            <ion-skeleton-text>
            </ion-skeleton-text>
        </strong>
    </ion-col>
    <ion-col size="2">
        <ion-thumbnail>
            <ion-skeleton-text>
            </ion-skeleton-text>
        </ion-thumbnail>
    </ion-col>
    <ion-col class="ion-no-padding">
        <div>
            <span>
                <strong style="font-size: large">
                    <ion-skeleton-text></ion-skeleton-text>
                </strong>
            </span>
            <br />
            <span style="font-size: smaller">
                <ion-skeleton-text></ion-skeleton-text>
            </span>
        </div>
    </ion-col>
    <ion-col size="2">
        <ion-button fill="clear" color="dark">
            <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
        </ion-button>
    </ion-col>

</ion-row>