<ion-item>
    <ion-avatar slot="start">
        <img class="ion-text-center" src="https://new.scoresaber.com{{playerInfo.avatar}}" />
    </ion-avatar>
    <ion-label>
        <h3>
            <img src="https://new.scoresaber.com/api/static/flags/{{ playerInfo.country | lowercase}}.png"> {{
            playerInfo.playerName }}
        </h3>
        <p>
            Rank: #{{ playerInfo.rank }} -
            #{{ playerInfo.countryRank }}
        </p>
        <p>{{ playerInfo.pp }} pp</p>
    </ion-label>
    <ion-avatar slot="end" style="margin-right: 20px;">
        <ion-button (click)="button()">
            Add
        </ion-button>
    </ion-avatar>
</ion-item>

