<ion-row class="ion-align-items-center ion-justify-content-center">
  <ion-col size="1.6">
    <strong>#{{ player.rank }}</strong>
  </ion-col>
  <ion-col size="2">
    <ion-thumbnail>
      <img style="border-radius: 5px;" src="https://new.scoresaber.com{{ player.avatar }}" />
    </ion-thumbnail>
  </ion-col>
  <ion-col class="ion-no-padding">
    <div>
      <span>
        <img src="https://new.scoresaber.com/api/static/flags/{{ player.country | lowercase}}.png">
        <strong style="font-size: large">
          {{ player.playerName }}
        </strong>
      </span>
      <br />
      <span style="font-size: smaller"> {{ player.pp }} pp</span>
    </div>
  </ion-col>
  <ion-col size="2">
    <ion-button (click)="viewPlayer()" fill="clear" color="dark">
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </ion-col>
</ion-row>