<ion-content>
  <ion-refresher
    (ionRefresh)="doRefresh($event)"
    slot="fixed"
    pullFactor="0.5"
    pullMin="100"
    pullMax="200"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- STOREDUSER -->
  <div class="vertical-padding ion-text-center" *ngIf="storedUser != null">
    <app-profile-header
      [name]="storedUser.name"
      [avatar]="storedUser.avatar"
      [country]="storedUser.country"
    ></app-profile-header>
  </div>

  <!-- LIST -->
  <div
    *ngIf="userDataSrv.User"
    class="ion-text-center animate__animated animate__slideInUp animate__fast"
  >
    <app-profile-sub-header
      [pp]="userDataSrv.User.playerInfo.pp"
      [rank]="userDataSrv.User.playerInfo.rank"
      [avgAcc]="userDataSrv.User.scoreStats.averageRankedAccuracy"
    ></app-profile-sub-header>

    <ion-grid
      class="border-bottom ion-text-center animate__animated animate__slideInUp animate__fast"
      style="animation-delay: 300ms"
    >
      <ion-list class="">
        <ion-item>
          <ion-label>
            Country Rank:
            <span class="ion-float-right ion-padding-end fa">
              <strong> #{{userDataSrv.User.playerInfo.countryRank}} </strong>
            </span>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Ranked maps played:
            <span class="ion-float-right ion-padding-end fa">
              <strong> {{userDataSrv.User.scoreStats.rankedPlayCount}} </strong>
            </span>
          </ion-label>
        </ion-item>
        <div *ngIf="userDataSrv.Scores">
          <ion-item>
            <ion-label
              >All Songs:
              <span class="ion-float-right ion-padding-end fa">
                <strong> {{userDataSrv.Scores.length}} </strong>
              </span>
            </ion-label>
          </ion-item>
        </div>
        <div *ngIf="!userDataSrv.Scores">
          <ion-item>
            <ion-label>
              <div *ngIf="!profilesrv.isLoading" class="ion-text-center">
                <ion-button (click)="getAllScores()">
                  get the full profile
                </ion-button>
              </div>
              <div *ngIf="profilesrv.isLoading" class="ion-text-center">
                <span
                  >Getting Pages
                  <br />{{profilesrv.loadedPages}}/{{profilesrv.totalPages}}</span
                >
                <ion-progress-bar
                  value="{{profilesrv.loadedPages / profilesrv.totalPages}}"
                ></ion-progress-bar>
              </div>
            </ion-label>
          </ion-item>
        </div>
      </ion-list>
    </ion-grid>
  </div>

  <!-- TOPSONGS -->
  <div
    *ngIf="profilesrv.TopScore"
    class="ion-text-center animate__animated animate__slideInUp animate__fast"
    style="animation-delay: 500ms"
  >
    <app-slider-songs
      [songs]="profilesrv.TopScore"
      [name]="'Top Score'"
    ></app-slider-songs>
  </div>

  <!-- RECENTSONGS -->
  <div
    *ngIf="profilesrv.RecentScore"
    class="ion-text-center animate__animated animate__slideInUp animate__fast"
    style="animation-delay: 700ms"
  >
    <app-slider-songs
      [songs]="profilesrv.RecentScore"
      [name]="'Recent Score'"
    ></app-slider-songs>
  </div>

  <!-- CARD -->
  <!-- <ion-card >
    <ion-card-content class="ion-no-padding">
      <ion-list class="ion-no-padding" lines="none">
        <ion-item>
          <ion-avatar slot="start">
            <img src="https://image.flaticon.com/icons/svg/163/163801.svg" />
          </ion-avatar>
          <ion-label>
            <h2>Juanito Perez</h2>
            <p>Hace 29 min.</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <img
      src="https://thepracticaldev.s3.amazonaws.com/i/8m2htjjpp31idwz8wnrz.jpg"
      alt=""
    />
    <ion-card-content class=""> Awesome content </ion-card-content>
  </ion-card> -->
</ion-content>
