<ion-buttons slot="start">
  <ion-back-button (click)="dismiss()" defaultHref=""></ion-back-button>
</ion-buttons>

<ion-content>
  <ion-card color="light" class="cardhead" style="height: 100%; border-radius: 20px">
    <div class="img-wrapper">
      <img src="https://beatsaver.com{{ map.coverURL }}" />
      <ion-button color="light">
        <ion-icon slot="icon-only" name="add" color="medium"> </ion-icon>
      </ion-button>
    </div>
    <ion-button style="position: absolute; top: -50px; left: 3%"
      [color]="buttonExtraClicked == true ? 'dark' : 'light' " (click)="buttonExtraClicked = !buttonExtraClicked">
      {{buttonExtraClicked ? "Stats" : "Extra"}}</ion-button>
    <ion-button style="position: absolute; top: -50px; right: 3%" color="dark" (click)="openUrl()">
      Preview
    </ion-button>
    <br />

    <!-- TITLE -->
    <ion-card-content *ngIf="!buttonExtraClicked"
      class="ion-text-center animate__animated animate__slideInUp animate__fast">
      <!-- TITLE -->
      <beatsaver-title [name]="map.name" [levelAuthorName]="map.metadata.levelAuthorName" [date]="date"></beatsaver-title>

      <!-- SMALL INFO -->
      <beatsaver-small-info [duration]="map.metadata.duration" [bpm]="map.metadata.bpm" [stats]="map.stats"></beatsaver-small-info>
      <!-- SLIDER -->

      <!-- CONTENT CHAR -->
      <beatsaver-bottom-info [characteristics]="map.metadata.characteristics" [duration]="map.metadata.duration"></beatsaver-bottom-info>

    </ion-card-content>
    <ion-card-content *ngIf="buttonExtraClicked"
      class="ion-text-center animate__animated animate__fadeIn animate__fast">

      <!-- DESCRIPTION -->
      <beatsaver-description [name]="map.name" [key]="map.key" [description]="map.description"></beatsaver-description>
    
    </ion-card-content>
  </ion-card>
</ion-content>