<ion-content>
  <ion-slides pager="true" [options]="slideOpts" (ionSlideDidChange)="slideChanged()">
    <ion-slide>
      <div>
        <h1>Welcome To<br />ScoreSaberSomething</h1>
        <br />
        <h3>Thank you for downloading this app</h3>
      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <h1>Link your account</h1>
        <p>For the best experience, you should link your ScoreSaber account</p>
        <addplayer (buttonClicked)="test($event)"></addplayer>
      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <h1>You are now ready to go!</h1>
        <br>
        <br>
        <br>
        <ion-footer>
          <ion-button position="bottom" expand="block" fill="outline" (click)="dismiss()">Get me to the app</ion-button>
        </ion-footer>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>